*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}


body {
    background-image: linear-gradient(334deg, #246655, #0cb665, #0c71b6);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    -o-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@keyframes AnimationName {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}

.container-all {
    width: 95%;
    max-width: 500px;
    padding: 40px;
    background: rgb(16, 22, 26);
    border-radius: 30px;
    position: relative;
    margin: auto;
    margin-top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
}

.container-all h1{
    text-align: center;
    font-size: 40px;
}

.content-article{
  text-align: center;
    margin-top: 40px;
}

.content-article p{
    font-size: 16px;
    margin-top: 20px;
}


.content-article input{
    padding: 20px 60px;
    margin-top: 20px;
    background: #00b1ff;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}

.container-all input{
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #0a597a;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;

      }

.container-all input:hover {background-color: #073b52}

      .container-all input:active {
        background-color: #073b52;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

.LLogo {
    display: flex;
    width: 10%;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 30px;
}