*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}


body{
    background-image: radial-gradient(circle at 120.71% 50%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);;
    margin-bottom: 100px
}

.container-all{
    width: 95%;
    max-width: 400px;
    margin: auto;
    padding: 40px;
    background: rgba(16, 22, 26, 0.685);
    margin-top: 100px;
    border-radius: 30px;
}

.container-all h1{
    text-align: center;
    font-size: 40px;
}

.content-article{
  text-align: center;
    margin-top: 40px;
}

.content-article p{
    font-size: 16px;
    margin-top: 20px;
}


.content-article input{
    padding: 20px 60px;
    margin-top: 20px;
    background: #00b1ff;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}

.container-all input{
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #0a597a;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;

      }

.container-all input:hover {background-color: #073b52}

      .container-all input:active {
        background-color: #073b52;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

p.liansky-logo {
      text-align: center;
      color: #EEF1F5;
      }

      p.liansky-logo img{
          margin-top= 300px;
          idth: 150px; 
          height: 150px;
      }
