*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}


body{
    background-image: radial-gradient(circle at 107.92% 9.44%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
    margin-bottom: 100px
}

.container-all{
    width: 95%;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    background: rgb(16, 22, 26);
    margin-top: 100px;
    border-radius: 30px;
}

.container-all h1{
    text-align: center;
    font-size: 40px;
}

.content-article{
  text-align: center;
    margin-top: 40px;
}

.content-article p{
    font-size: 16px;
    margin-top: 20px;
}


.content-article input{
    padding: 20px 60px;
    margin-top: 20px;
    background: #00b1ff;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}

.container-all input{
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;	
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #0a597a;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;

      }

.container-all input:hover {background-color: #073b52}

      .container-all input:active {
        background-color: #073b52;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
