* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #000000, #00ff00, #207cca, #0000ff, #e60073, #ff0000, #ffffff);
}

.form-login {
    width: 95%;
    max-width: 450px;
    padding: 20px 30px;
    background: #000000;
    border-radius: 20px;
    box-shadow: 7px 13px 37px #000;
    color: white;
}

.form-login h5 {
    margin: 15px;
    text-align: center;
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid #0a597a;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #232425;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.buttons {
    width: 100%;
    height: 40px;
    background: #0d79a7;
    border: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 16px;
    cursor: not-allowed;
}