* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}


body {
    /* background-image: linear-gradient(334deg, #246655, #0cb665, #0c71b6); */
    background: #c1e1a7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container-all {
    width: 95%;
    max-width: 580px;
    padding: 40px;
    background: rgb(16, 22, 26);
    border-radius: 30px;
    position: relative;
    display: flex;
    margin: 10px;
    right: 0;
    bottom: 0;
    left: 0;
}

.container-all h1 {
    text-align: center;
    font-size: 40px;
}

.content-article {
    text-align: center;
}

.container-all input {
    display: inline-block;
    padding: 15px 35px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0a597a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10px;
}

.container-all input:hover {
    background-color: #073b52
}

.container-all input:active {
    background-color: #073b52;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}